PORT=3000
MONGODB_URI=mongodb://localhost:27017/learning_devops
JWT_SECRET=replace_me
GOOGLE_CLIENT_ID=replace_me
GOOGLE_CLIENT_SECRET=replace_me
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
ADMIN_EMAILS=admin@example.com
